body {
  width: 100%;
}

img {
  display: block;
}

@font-face {
  font-family: @local-font;
  src: url("../fonts/SourceSansPro-Regular.woff") format("woff"),
  url("../fonts/SourceSansPro-Regular.woff") format("woff");
  font-weight: @regular;
  font-style: @normal;
}

@font-face {
  font-family: @local-font;
  src: url("../fonts/SourceSansPro-Bold.woff") format("woff"),
  url("../fonts/SourceSansPro-Bold.woff") format("woff");
  font-weight: @bold;
  font-style: @normal;
}

@font-face {
  font-family: @local-font;
  src: url("../fonts/SourceSansPro-It.woff") format("woff"),
  url("../fonts/SourceSansPro-It.woff") format("woff");
  font-weight: @normal;
  font-style: @italic;
}

@font-face {
  font-family: @local-font;
  src: url("../fonts/SourceSansPro-Light.woff") format("woff"),
  url("../fonts/SourceSansPro-Light.woff") format("woff");
  font-weight: @light;
  font-style: @normal;
}
