//font
@local-font: "Source Sans Pro";
@base-family: "Source Sans Pro", Arial, sans-serif;
@local-font-title: "Peace Sans";

@big-font-size: 46px;
@title-font-size: 18px;
@base-font-size: 17px;

@bold: 700;
@normal: 400;
@light: 300;
@regular: 400;
@italic: italic;

@uppercase: uppercase;

//colors
@white: #ffffff;
@green: #52b317;
@base-font-color: #191919;
@space-gray: #cacaca;
@img-bg: #7c864a;
@footer-text: #83ba62;
@footer-color: #459713;
