.btn {
  display: block;
  text-align: center;
  z-index: 1;
  a {
    text-decoration: none;
    letter-spacing: 1px;
  }
}

.intro__btn {
  position: absolute;
  border: 1px solid @green;
  width: 193px;
  background-color: @green;
  border-radius: 5px;
  right: 46px;
  bottom: 38px;
  font-weight: @bold;
  text-transform: uppercase;
  a {
    font-size: 15px;
    line-height: 35px;
    color: @white;
  }
}
