.footer {
  width: 100%;
  font-size: 17px;
  font-family: @local-font;
  font-weight: @light;
  line-height: 32px;
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    max-width: 980px;
    margin: 0 auto;
  }
  a {
    color: @green;
    text-decoration: none;
  }
}

.footer__top {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 130px;
  padding-top: 25px;
  padding-bottom: 40px;
}

.footer__contact {
  width: 338px;
}

.inner-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 300px;

  .inner-nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    list-style: none;
  }
    a {
    text-decoration: none;
  }
}

.footer__tel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn-footer {
  border: 1px solid @green;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  a {
    color: @green;
    line-height: 30px;
  }
  &:hover {
    background-color: @green;
    color: @white;
  }
}

.footer-bottom {
  width: 100%;
  min-height: 85px;
  background-color: @green;
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 0 25px;
    max-width: 980px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 25px;
  }
  .social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .copyright-brand {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    justify-content: flex-end;
  }
  a {
    color: @white;
  }
}

.copyright-brand {
  a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: baseline;
  }
  img {
    display: flex;
    width: 69px;
    height: 20px;
    align-self: center;
    margin-left: 10px;
  }
}

.social {
  display: flex;
  justify-content: center;
  padding-bottom: 0;
  .icon-social {
    display: flex;
    position: relative;
    width: 40px;
    height: 40px;
    border: 3px solid @white;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}


.feedback-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
