.intro {
  width: 100%;
    .intro-inner {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0 25px;
      max-width: 980px;
      margin: 0 auto;
      min-height: 300px;
      font-family: @local-font;
      &::after {
          content: "";
          position: absolute;
          top: 50px;
          right: 40px;
          background-image: url("../../img/world.png");
          background-repeat: no-repeat;
          background-position: center;
          width: 208px;
          height: 208px;
        }
    }
    h2 {
      display: block;
      width: 100%;
      padding-top: 49px;
    }
    p {
      padding: 0;
      margin: 0;
      font-style: @regular;
      font-size: 16px;
      line-height: 25px;
      width: 490px;
    }
}
